@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,400;1,400&family=Be+Vietnam+Pro:wght@400;500;700&family=Bellefair&family=Blinker:wght@600&family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Kumbh+Sans:wght@400;700&family=Lato:ital,wght@0,400;0,900;1,300&family=League+Spartan:wght@500;600;700&family=Manrope:wght@400;500&family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&family=Open+Sans:wght@400;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700;1,800&family=Roboto:ital,wght@0,500;1,400&family=Rubik:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  @apply w-full h-full font-Bellefair;
}
/* 
main {
  @apply h-screen bg-black w-screen  max-[768px]:max-w-max max-[768px]:h-full;
} */


main {
  @apply h-full w-full;
}

/* .home {
  @apply grid grid-cols-12 h-screen grid-rows-12 bg-desktopHomeBg bg-no-repeat bg-[100%] bg-cover w-full max-[768px]:bg-tabletHomeBg max-[655px]:bg-mobileHomeBg;
} */


.home {
  @apply grid grid-cols-12 grid-rows-4 bg-desktopHomeBg bg-no-repeat bg-[100%] bg-cover max-[768px]:bg-tabletHomeBg max-[655px]:bg-mobileHomeBg   md:h-full lg:h-full  xl:h-screen;
}

/* header {
  @apply pl-4 flex row-span-2 w-full col-span-12 my-4 min-[769px]:space-x-4 max-[768px]:justify-between max-[655px]:pr-4;
} */

header {
  @apply pl-4 flex row-span-1 w-full col-span-12 my-4 min-[769px]:space-x-4 max-[768px]:justify-between max-[655px]:pr-4;
}

.ham-menu {
  @apply max-[655px]:flex min-[656px]:hidden  hover:cursor-pointer;
}

.logo {
  @apply flex items-center pl-4;
  flex-grow: 1;
}
.main-nav {
  @apply h-full bg-stroke/30 backdrop-blur-md flex items-center pl-12 min-[769px]:flex-grow-[3] max-[768px]:pr-12 max-[655px]:hidden;
}

.number-nav {
  @apply font-bold mr-2;
}

nav ul {
  @apply flex items-center space-x-6  text-white h-full;
}

nav ul li {
  @apply h-full content-center text-center flex items-center;
}

a {
  @apply hover:border-solid hover:border-b-2 hover:cursor-pointer;
}

a.active {
  @apply border-solid border-b-4 cursor-pointer;
}

/* .section-two {
  @apply row-span-10 col-span-12 text-white flex  max-[768px]:justify-between px-6  max-[768px]:flex-col  min-[769px]:flex-row  min-[769px]:items-center max-[768px]:gap-6;
} */
.section-two {
  @apply row-span-3 col-span-12 text-white flex  max-[768px]:justify-between px-6  max-[768px]:flex-col  min-[769px]:flex-row  max-[768px]:gap-6;
}


header hr {
  @apply min-[769px]:flex text-stroke/30 -mr-4 z-10 backdrop-blur-md max-[768px]:hidden;
  flex-grow: 5;
}

.main-nav-container {
  @apply flex items-center  min-[769px]:w-[90%] min-[769px]:flex-grow-[2] max-[768px]:justify-end;
}

.home-sub-title {
  @apply max-[768px]:flex max-[768px]:justify-center text-dilute text-[28px] font-BarlowCondensed font-extralight tracking-wider space-x-3;
  word-spacing: 5px;
}

.home-main-title {
  @apply text-[150px] max-[768px]:flex max-[768px]:justify-center max-[975px]:text-[100px] max-[313px]:text-[80px];
}

.planet-main-title {
  @apply text-[90px] text-white;
}

/* .planet-main-title p{
  @apply mb-6
} */

.text-container {
  @apply min-[976px]:w-[29%] max-[768px]:text-center max-[768px]:flex max-[768px]:justify-center max-[975px]:w-full;
}
.text-container-planet {
  @apply w-[45%] text-dilute mb-8 max-[768px]:w-[90%] font-BarlowCondensed;
}

.home-section-one {
  @apply flex items-center;
}

.home-section-two {
  @apply flex items-center;
}

.explore-bg {
  @apply max-[768px]:w-full max-[768px]:flex max-[768px]:justify-center;
}

.explore {
  @apply bg-white w-[300px] h-[300px] rounded-full flex justify-center  text-[32px] items-center text-black hover:cursor-pointer max-[768px]:w-[200px] max-[768px]:h-[200px];
}

.inner-container-home-section-two {
  @apply max-[768px]:flex max-[768px]:flex-col max-[768px]:justify-center;
}

.inner-container-home-section-two p {
  @apply font-BarlowCondensed text-[18px] text-dilute;
}

.planet {
  @apply grid grid-cols-12 h-screen grid-rows-12 bg-desktopDestinationBg bg-no-repeat bg-[100%] bg-cover w-full max-[768px]:bg-tabletDestinationBg max-[665px]:bg-mobileDestinationBg;
}

.crew {
  @apply  grid grid-cols-12 grid-rows-12 bg-desktopCrewBg bg-no-repeat bg-[100%] bg-cover max-[768px]:bg-tabletCrewBg max-[665px]:bg-mobileCrewBg  h-screen;
}

/* .crew-image-douglas{
  @apply bg-douglasPersonPng bg-no-repeat bg-contain h-full bg-bottom;
}

.crew-image-mark{
  @apply bg-markPersonPng bg-no-repeat bg-contain h-full bg-bottom;
}

.crew-image-victor{
  @apply bg-victorPersonPng bg-no-repeat bg-contain h-full bg-bottom;
}

.crew-image-ansari{
  @apply bg-ansariPersonPng bg-no-repeat bg-contain h-full bg-bottom;
} */

.crew-image{
  @apply  max-[768px]:order-1 max-[768px]:h-auto flex min-[769px]:justify-end min-[769px]:items-end max-[768px]:justify-center max-[768px]:flex-row max-[768px]:w-full  w-[50%];
}

.main-crew-content{
  @apply flex flex-col max-[768px]:mb-3 max-[655px]:order-last  max-[768px]:w-full max-[768px]:justify-end min-[769px]:w-[50%];
}



.specific-crew-image img {
  @apply flex flex-col max-[768px]:h-[23rem]
}

.planet-details-adjustment {
  @apply grid grid-cols-12 grid-rows-12 row-span-10 col-span-12 pl-14 space-y-16 max-[768px]:pr-14 ;
}

.crew-details-adjustment{
  @apply grid grid-cols-12 grid-rows-12 row-span-10 col-span-12 pl-14 max-[768px]:pr-14;
}


.crew-section-one{
  @apply text-white flex flex-col  row-span-12 col-span-6 mt-28 max-[768px]:justify-center max-[768px]:items-center w-full ;
}



.tech-section-one{
  @apply text-white flex flex-col  max-[768px]:justify-center max-[768px]:items-center;
}

.tech-section-one .planet-main-title{
  @apply text-[40px] max-[768px]:text-[25px]
}

.tech-section-one .crew-title{
  @apply text-[15px] text-dilute;
}

.tech-section-one .text-container-planet{
  @apply w-full

}

.crew-main-section-one{
  @apply row-span-11 col-span-12  flex max-[768px]:flex-col max-[768px]:items-center max-[768px]:gap-6 ;
}

/* .crew-main-section-one .main-crew-content {
  @apply max-[768px]:h-[50%]
}
 */


/* w-[70%] flex justify-center space-x-12 max-[768px]:order-2 max-[768px]:flex-col max-[768px]:space-y-7 max-[768px]:w-full max-[768px]:h-auto */



.planet-two {
  @apply row-span-1  col-span-12 flex space-x-4 items-center text-[28px] font-BarlowCondensed max-[768px]:w-full max-[401px]:text-[1rem] max-[655px]:justify-center;
}

.planet-two span {
  @apply text-stroke font-bold;
}
.planet-two p {
  @apply text-white font-extralight tracking-wider space-x-3;
  word-spacing: 5px;
}

.main-planet-content {
  @apply row-span-11 col-span-12  flex  max-[768px]:flex-col max-[768px]:items-center min-[769px]:flex-row;
}

.crew-section-one .text-container-planet{
  @apply max-[768px]:text-center w-[80%]
}

.sub-planet-component {
  @apply min-[769px]:ml-32 max-[768px]:flex max-[768px]:items-center max-[768px]:flex-col;
}

.planet-nav {
  @apply row-span-1 col-span-12 flex  font-BarlowCondensed font-normal text-[20px];
}

.planet-nav ul li {
  @apply text-dilute;
}

/* .moon{
flex-grow: 2;
background-color: beige;
} */

.moon-details {
  @apply max-[768px]:flex max-[768px]:items-center max-[768px]:flex-col;
}

.moon-details h2{
  @apply max-[655px]:text-[25px]
}

.page-image {
  @apply pl-8 max-[768px]:w-[220px] max-[768px]:h-[220px];
}

.main-planet-content .page-image img{
@apply max-[313px]:w-[130px]
}

footer {
  @apply flex min-[769px]:space-x-10 border-solid border-t-[1px] border-stroke min-[769px]:w-[60%] pt-3 max-[768px]:w-full justify-between;
}

.top {
  @apply text-dilute font-BarlowCondensed font-extralight;
}

.bottom {
  @apply text-white text-[24px];
}

.crew-title{
  @apply text-stroke text-[32px] max-[768px]:text-[20px];
}

.crew-section-one h2{
  @apply text-[50px] mb-5 max-[768px]:text-[30px]
}



.slide-navigation{
  @apply flex space-x-4 my-auto max-[768px]:justify-center max-[768px]:mb-3;
}

.slide-button-inactive{
  @apply w-[20px] h-[20px] rounded-full bg-stroke hover:cursor-pointer max-[768px]:w-[10px] max-[768px]:h-[10px];
}

.slide-button-active{
  @apply w-[20px] h-[20px] rounded-full bg-white hover:cursor-pointer max-[768px]:w-[10px] max-[768px]:h-[10px];
}

.technology{
  @apply grid grid-cols-12 h-screen grid-rows-12 bg-desktopTechnologyBg bg-no-repeat bg-[100%] bg-cover w-screen max-[768px]:bg-tabletTechnologyBg max-[665px]:bg-mobileTechnologyBg max-[313px]:h-max;
}

.technology-details-adjustment {
  @apply grid grid-cols-12 grid-rows-12 row-span-10 col-span-12 min-[769px]:pl-14 space-y-16 min-[769px]:pr-14 ;
}


.active-tech-slide{
  @apply w-[50px] h-[50px] rounded-full text-black bg-white flex justify-center items-center hover:cursor-pointer font-semibold max-[768px]:w-[33px] max-[768px]:h-[33px];

}

.inactive-tech-slide{
  @apply w-[50px] h-[50px] border-[1px] border-solid border-stroke rounded-full text-white flex justify-center items-center hover:cursor-pointer max-[768px]:w-[33px] max-[768px]:h-[33px]

} 


.main-tech-content{
  @apply row-span-11 col-span-12  flex max-[768px]:flex-col max-[768px]:items-center gap-6
}



.tech-image-vehicle{
  @apply bg-vehiclePortrait max-[768px]:bg-vehicleLandScape bg-no-repeat bg-cover h-full bg-center max-[768px]:bg-[100%] max-[768px]:bg-cover  w-full;
}

.tech-image-space{
  @apply bg-spacePortrait max-[768px]:bg-spaceLandScape bg-no-repeat bg-cover h-full bg-center max-[768px]:bg-[100%] max-[768px]:bg-cover  w-full;
}

.tech-image-capsule{
  @apply bg-capsulePortrait max-[768px]:bg-capsulePortrait bg-no-repeat bg-cover h-full bg-center max-[768px]:bg-[100%] max-[768px]:bg-cover  w-full;
}

.tech-image-container{
  @apply  max-[768px]:order-1 max-[768px]:w-[100%] min-[769px]:pb-12 max-[768px]:h-auto flex-grow-[8];
}


.tech-content-container{
  @apply w-[70%] flex justify-center space-x-12 max-[768px]:order-2 max-[768px]:flex-col max-[768px]:space-y-7 max-[768px]:w-full max-[768px]:flex-grow-[9];
}

.tech-display-button{
  @apply flex flex-col min-[769px]:space-y-6 max-[768px]:flex-row max-[768px]:justify-center  max-[768px]:space-x-6
}